*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Share Tech', sans-serif;

}

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  font-size: 20px;
  z-index: 1;
  opacity: .8;
}

.score-container{
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    z-index: 2;
    font-size: 20px;
}


.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

/* Used https://www.w3schools.com/css/css3_buttons.asp for help with styling buttons */
.btn {
  background-color: purple;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  font-family: 'Share Tech', sans-serif;
  font-size: 20px;
}

.btn:hover {
  border-color: black;
  background-color: magenta;
}

.btn.correct {
    background-color: green;
}

.btn.wrong{
    background-color: red;
}

.ready-btn, .next-btn{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

/* Used http://thenewcode.com/500/Use-YouTube-Videos-as-Fullscreen-Web-Page-Backgrounds for help with video back ground */
@media (min-aspect-ratio: 16/9) {
    .foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
    .foreground { width: 300%; left: -100%; }
}


.video-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -99;
}

.foreground,
.video-container iframe {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    pointer-events: none;
}
#vidtop-content {
    top: 0;
}